@tailwind base;
@tailwind components;

html, body{
    overflow: hidden;
    background: black;
}

.gameEntity {
    position: absolute;
}

.character{
    position: absolute;
    transition:left 0.05s, top 0.05s;
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-size: 375%;
    -webkit-filter: drop-shadow(0px -20px 5px #222);
    filter: drop-shadow(0px 20px 5px rgb(0,0,0,0.5));
}

.character-down{
    background-position: 0% 0%;
}

.character-right {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 34%;
}

.character-right .walking {
    animation: walkRight 0.8s steps(2) infinite;
}

@keyframes walkRight {
    100% {background-position: 100% 32.5%;}
  }

.character-up {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 66%;
}

.character-left {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 100%;
}

.home {
    position: relative;
    background-image: url('../imgs/woodpanel.png');
    background-size: 3%;
}

.wall {
    background: url('../imgs/Textures/Bricks/SLIMBRICKS.png');  
    width: 100%;
    position: absolute;
    top: 0px;
    height: 200px;
    box-shadow: 5px 20px 5px 5px rgba(0,0,0,0.25);
}

@tailwind utilities;
