@tailwind base;
@tailwind components;

html, body{
    overflow: hidden;
}

.character{
    transition:left 0.05s, top 0.05s;
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-size: 350%;
}

.character-down{
    background-position: 0% 3%;
    background-size: 375%;
}

.character-right {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 35%;
    background-size: 350%;
}

.character-right .walking {
    animation: walkRight 0.8s steps(2) infinite;
}

@keyframes walkRight {
    100% {background-position: 100% 32.5%;}
  }

.character-up {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 65%;
    background-size: 350%;
}

.character-left {
    background-image: url('../imgs/MainGuySpriteSheet.png');
    background-position: 0% 98%;
    background-size: 350%;
}

.home {
    background-image: url('../imgs/Textures/Wood/WOODA.png');
    background-size: 5%;
    /* background-size: cover; */
}

@tailwind utilities;
